* {
    padding: 0;
    margin: 0;
    border: none;
    /* font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif; */
}

body {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -.03em;
    line-height: 1.5rem;
}



:root {
    --border-fill: #e6e6e6;
    --featured-fil: #17253d;
    --solution-button:rgba(0, 85, 151, 0.1);
}




@font-face {
    font-family: "Azure-N";
    src: url(/asset/font/normal.woff2);
}

@font-face {
    font-family: "Azure-B";
    src: url(/asset/font/semi_bold.woff2);
}

@font-face {
    font-family: "Azure-MW";
    src: url('/asset/font/mwfmdl2-v3.54.woff');
}

@font-face {
    font-family: "Azure-I";
    src: url(./asset/font/MWFFluentIcons.woff2);
}

.mob {
    display: inline;
}

.desk {
    display: none;
}






button {
    background-color: transparent;
    border: none;
}



/* header */

.header-container {
    height: 49px;
}

.top-nav {
    display: flex;
    height: 49px;
    /* align-items: center;
    justify-content: center; */
    border-bottom: 1px solid var(--border-fill);
    padding: 2px 5px;
    margin: 0;
    position: relative;
}


.ham-search {
    display: flex;
    position: absolute;
    align-items: center;
    left: 0;
    height: 50px;
}


.hamburger {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
    margin: 1px;
    padding: 6px 0 8px 0;
    align-items: center;
}

.hamburger img {
    width: 20px;
    height: 20px;
    margin-top: 7px;
}

.hamburger span {
    font-size: 20px;
    height: 13px;
    width: 20px;
    margin-top: 7px;
    line-height: 15px;
    font-weight: 400;
    white-space-collapse: collapse;
}

.hamburger span::before {
    content: "";
    font-family: "Azure-MW";
}

.search {
    display: flex;
    align-items: center;
    padding-left: 7PX;
}

/* .search img {
    padding: 8px 8px 8px 0;

    width: 20px;
    height: 20px;
} */
.search span {
    font-size: 16px;
    height: 13px;
    width: 20px;
    margin-top: 7px;
    line-height: 15px;
    font-weight: 400;
    white-space-collapse: collapse;
}

.search span::after {
    content: "";
    font-family: "Azure-MW";

}




.logo {
    position: absolute;
    left: calc(50% - 60px);


}

.microsoft {
    margin: 1px;
    /* padding: 12px 4px; */
    padding: 9px 4px;


}

.bottom-nav {
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 33px;
    border-bottom: 1px solid var(--border-fill);


}

.bottom-nav button {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 15px;
    /* height: 100%; */
    letter-spacing: normal;
    /* padding-top: 4px; */
    margin: 0 1px;
    font-family: "Azure-B";
}

.Azure-downArrow {
    font-size: 12px;
    font-weight: 700;
    padding-left: 7px;
}

.Azure-downArrow::before {
    content: "";
    font-family: Azure-MW;
}










.logo-img img {
    height: 23px;
    width: 108px;
}

/* .hamburger {
    height: 20px;
    width: 20px;
    opacity: 0.69;

} */










/* section 1  master*/





.master-parent {
    height: auto;
    width: 100%;
}

.master-img {
    /* background-image: url(); */

    width: 100%;

}

.master-img img {
    width: 100%;

    background-size: contain;
}



.bg-section {
    background-image: url(./asset/img/mob/Mobile-Interactive-Demo-BG-2x.webp);
    object-fit: contain;


}




/* container */

.container-p {
    padding: 0 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;






}

.container {
    margin-top: 2rem;
    padding-bottom: 56px;
}

.limitless {
    margin-bottom: 000.75rem;
    font-weight: 600;
    font-size: .75rem;
    letter-spacing: 0.08em;
    color: #17253d;
    /* font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: Azure-B;
}

.trust h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -.05em;
    font-family: Azure-B;
}

.container-para {
    color: #17253d;
    /* font-family: Azure-b; */
    /* font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: sans-serif;
    margin-top: 1rem;
    padding-inline-end: 1rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.03rem;
    margin-bottom: 1.5rem;
}

.content-btn {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content-btn a {
    text-decoration: none;
    padding: 12px;
    background-color: rgba(0, 120, 212);
    color: rgba(255, 255, 255);
    border-radius: 8px;
    text-align: center;
}

.section-master {
    margin-top: 2rem;
}



/* Feature Section */

/* .featured {} */

.featured-head {
    margin: 0.25rem;
}

.head-container {
    background-color: rgba(254, 254, 254);
    /* background-color: grey; */
    color: rgba(23, 37, 61);
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
    padding: 0.75rem;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    font-family: 'Segoe UI';

}

.head-cont {
    flex-grow: 1;
    row-gap: 0.25rem;
}

.down {
    align-self: self-end;
    font-size: 1rem;
}

.down::before {
    content: "";
    font-family: "Azure-I";

}


.indicator {
    height: 0.25rem;
    width: 100%;
    padding: unset;
    background: #004275;
    size: 0.25rem;
}



.featured-news {
    background-image: url(./asset/img/mob/Mobile-feature-BG-2x-1.avif);


}

.inner {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* .featured-content{
    padding-right: .25rem;
    padding-left: .25rem;
    color: var(--featured-fil);
} */
.top-header-content {
    padding-right: .25rem;
    padding-left: .25rem;
    color: var(--featured-fil);
}

.content-head-s {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: .08em;
    font-family: Azure-B;
    margin-bottom: 0.75rem;
}

.content-head-l {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: -.05em;
    font-family: Azure-B;
}

.card-container {
    margin-top: 2rem;
    padding: 0 .25rem;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

/* flex grow?????????? */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fefefe;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    border-radius: 1rem;
}

.card-img {
    /* padding: .5rem .5rem 0 .5rem; */
    padding-inline-start: .5rem;

    padding-inline-end: .5rem;
    padding-top: .5rem;

}

.card-img img {


    width: 100%;
    aspect-ratio: 2.3333;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card-cont-p {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* gap: 0.75re  m; */
}

.card-main-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


.card-main-content-headers {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -.03em;
    font-family: Azure-B;
}

.p-coontent {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.03em;
    font-family: Azure-N;
}




.block-slim {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;
    gap: .5rem;
}


.right-arrow {
    background-color: rgb(0, 120, 212);
    padding: .5rem;
    border-radius: .5rem;
    font-size: 15px;
}

.right-arrow::after {
    content: "";
    font-family: Azure-I;
    color: #fff;

}

.block-slim .cont {
    color: #004275;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: Azure-B;
}








/* solutions */



.solutions {
    background-color: #f4fafd;
}


.swp-content-viewAll{
    display: flex;
    flex-direction: column;
    gap:1.5rem ;
}


.swp-content {
    margin-top: 1.5rem;
}
.swp-cont-btn{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.swp {
    /* width: 696px; */
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
}

.swp button {
    background-color: var(--solution-button);
    margin-right: 0.5rem;
    border-radius: 12.5rem;
    /* font-size: 16px; */
    line-height: 24px;
    padding: .5rem 1rem;
    min-width: max-content;
    color: black;

}
.swp button:nth-child(1){
    background-color:  #005597;
    color: #FFF;


}
.swp span {
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    text-align: center;
}

/* js */
.js {

    margin-top: 1.5rem;
}

.js-ul {
    list-style: none;
}

.js-li {


}

.js-li-button {
    display: flex;
    justify-content: space-between;
    width: 100%;

    gap: .5rem;
    padding: 1.5rem .25rem;
    align-items: center;
    border-bottom: 1px solid #bdc5d2;
}
.js-li-button1{
    padding-top: 0;
}




.js-li-button h3    {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -.03em;
    font-family: Azure-N;

}

.viewAll{
    display: flex;
    align-items: center;
    font-family: Azure-N;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    gap: 0.5rem;
}


/* Products services */
.Products-Services{
    background-image: url(/asset/img/mob/Mobile-product-BG-2x.avif);
    background-size: cover;
}


.Pa-cards{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
}


.cards-promo-p{
    padding: 0 .25rem;
    
    
}
.cards-promo{
    padding: 1rem;
    display: grid;
    background-image: url(./asset/img/mob/351994-Desktop-CardGrid-ProductandServices-PromoCard-320x592.webp);
    aspect-ratio: 21/9;
    border-radius: 1rem;
    object-fit: cover;
    color: #fff;

}
.card-safe-area{
    height: 220px;
}
.card-content-area{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

}
.card-content-area h3{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -.05em;
}
.promo-p-cnt-btn{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.promo-p-btn{
    padding:0.75rem;
    text-align:center;
    background-color: #b3daf0;
    color: black;
    font-size: .9375rem;
    border-radius: .5rem;
    font-weight: 600     ;
    font-size: .9375rem;
    font-family: Azure-B;
}



.cards-a6{
    display: flex;
    flex-direction: column;
    gap: .75rem;

}


.card-a6-item{
    padding: 1rem;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-radius: 1rem;

}
.card-a6-badge{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid #000000;
    border-radius: 0.5rem;
}

.card-a6-cont{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.a6-cont-top{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.03em;
    font-family: Azure-B;
}
.a6-cont-middle{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.03em;
    font-family:Azure-N ;
}
.a6-cont-bottom a {
color: #0e1d29;
font-size: .875rem;
line-height: 1.25rem;
font-family: Azure-B;
}

/* Gartner */

.gartner-p-div{
    background-image: url(/asset/img/mob/Mobile-Gartner-BG-2x.webp);
    padding: 1.5rem 1rem;
    /* padding-top: 3rem; */


}
.gartner-card{
border-radius: 1rem;
box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
background-color: #fff;
margin-top: 2rem;


}

.gartner-card-image{
    padding-inline:0.75rem ;
    padding-block: 0.5rem;
 aspect-ratio: 1.33333;
}
.gartner-card-image img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   border-radius: 1rem;

}
.gartner-card-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}

.gartner-bottom{
    background-color: #0078d4;
    text-align: center;
    padding: 0.75rem;
    text-align: center;
   
    color: black;
    font-size: .9375rem;
    border-radius: .5rem;
    font-weight: 600;
    font-size: .9375rem;
    font-family: Azure-B;
}

.gartner-top-h2 span{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: -.05em;
    margin-bottom: 0;
    font-family: Azure-B;
}
.gartner-top{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.gartner-top-bottom{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -.03em;
    font-family: Azure-N;
}














@media screen and (min-width:860px) {
    .mob {
        display: none;
    }

    .desk {
        display: inline;
    }


    .header-container {}




}