* {
    padding: 0;
    margin: 0;
    border: none;
        /* font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif; */
font-family: sans-serif;
}


:root{
    --border-fill:#e6e6e6 ;
}




@font-face {
    font-family: "Azure-N";
    src: url(/asset/font/normal.woff2);
}
@font-face {
    font-family: "Azure-B";
    src: url(/asset/font/semi_bold.woff2);
}
@font-face {
    font-family: "Azure-MW";
    src: url('/asset/font/mwfmdl2-v3.54.woff');
}


button {
    background-color: transparent;
    border: none;
}



/* header */


.top-nav {
    display: flex;
    height: 49px;
    /* align-items: center;
    justify-content: center; */
    border-bottom: 1px solid var(--border-fill);
    padding: 2px 5px;
    margin: 0;
    position: relative;
}


.ham-search {
    display: flex;
    position: absolute;
    align-items: center;
    left: 0;
height: 50px;
}


.hamburger {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
    margin: 1px;
    padding: 6px 0 8px 0;
    align-items: center;
}

.hamburger img {
    width: 20px;
    height: 20px;
    margin-top: 7px;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 7PX;
}

.search img {
    padding: 8px 8px 8px 0;

    width: 20px;
    height: 20px;
}

.logo{
    position: absolute;
    left: calc(50% - 60px);


}
.microsoft {
    margin: 1px;
    /* padding: 12px 4px; */
    padding: 9px 4px;

    
}

.bottom-nav {
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 33px;
    border-bottom: 1px solid var(--border-fill);

}
.bottom-nav button{
    font-weight: 600;
    font-size: 15px;
}












.logo-img img {
    height: 23px;
    width: 108px;
}

/* .hamburger {
    height: 20px;
    width: 20px;
    opacity: 0.69;

} */



.downarrow {
    height: 12px;
}



.card-img img{
    width: 100%;
}


/* section 1  master*/





.master-parent {
    height: auto;
    width: 100%;
}

.master-img {
    /* background-image: url(); */

    width: 100%;

}

.master-img img {
    width: 100%;

    background-size: contain;
}



.bg-section {
    background-image: url(./asset/img/mob/Mobile-Interactive-Demo-BG-2x.webp);
    object-fit: contain;


}




/* container */

.container-p{
    padding: 0 16px;
}
.container{ 
    margin-top: 2rem;
    padding-bottom: 56px;
}
.limitless{
    margin-bottom: 000.75rem;
    font-weight: 600;
    font-size: .75rem;
    letter-spacing: 0.08em;
    color: #17253d;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.trust h1{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -.05em   
}
.container-para{
    color: #17253d;
    /* font-family: Azure-b; */
    /* font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: sans-serif;
    margin-top: 1rem;
    padding-inline-end: 1rem;
    font-weight: 400;   
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.03rem;
    margin-bottom: 1.5rem;
}
.content-btn{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.content-btn a {
    text-decoration: none;
    padding: 12px;
    background-color: rgba(0, 120, 212);
    color: rgba(255,255,255);
    border-radius: 8px;
    text-align: center;
}
.section-master{
    margin-top:2rem;
}






@media screen and (min-width:860px) {
    
}